.pageStyle {
    background: url(img/brand/LandingPageBG.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.devicons {
    font-size: 2rem;
}

@media (min-widthe: 992px) {
    .title {
        font-family: var(--cf-title-font);
        font-size: 3.5rem;
        color: var(--cf-theme-100);
        line-height: 3rem;
    }

    .subTitle {
        font-size: 1.5rem;
        font-family: var(--cf-body-font);
    }

    .devicons {
        font-size: 2.5rem;
    }
}